* {
  background-color: pink;
  color: black;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

img {
  height: 250px;
  width: auto;
}

h3 {
  font-weight: bold;
  text-decoration: underline;
}

h1 {
  text-align: center;
  background-color: white;
  padding: 20px;
  border: thick double #32a1ce;
  margin: 0px 800px;
  margin-top: 50px;
  margin-bottom: 40px;
}

p {
  /*border: thick double #32a1ce;*/
  text-align: center;
}

p a {
  display: inline-block;
  background-color: white;
  padding: 20px;  
  border: thick double #32a1ce;
  margin: 0 auto;
}

